*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    max-width: 1400px;
    margin: auto;
    display: flex;
    row-gap: 30px;
    flex-direction: column;
}

input[type=text] {
    outline: none;
    padding: 0 10px 0 15px;
}

a,
button,
input {
    background-color: transparent;
    text-decoration: unset;
    color: black;
    border: unset;
}

h1,
h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

article{
    transition: .7s;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 2px 15px #D9D9D9;
}

img{
    object-fit: cover;
}

.fa-star{
    font-size: 12px;
}

.blue{
    color: #0065FC;
}

.grey{
    color: #F2F2F2;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    height: 19px;
    margin: 30px 50px;
}

header nav {
    display: flex;
    column-gap: 69px;
    margin-right: 50px;
}

header nav a {
    padding-top: 16px;
}

header nav a:hover {
    border-top: solid 2px #0065FC;
    padding-top: 14px;
    color: #0065FC;
}

main {
    display: flex;
    row-gap: 35px;
    flex-direction: column;
}

.presentation {
    row-gap: 35px;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}

.presentation .found-heberg {
    row-gap: 8px;
    display: flex;
    flex-direction: column;
}

.presentation form {
    position: relative;
}

form .loc {
    width: 50px;
    height: 49px;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    color: black;

    position: absolute;
    bottom: 0;
    left: 0;
}

form .champ {
    width: 195px;
    height: 49px;
    font-size: 18px;
    font-weight: 700;
    border: solid 2px #F2F2F2;
    margin-left: 50px;
}

form .champ::placeholder {
    color: black;
}

form .submit {
    height: 49px;
    font-size: 18px;
    background-color: #0065FC;
    color: white;

    position: absolute;
    bottom: 0;
}

form .btn-desktop {
    width: 132px;
    font-weight: 700;
    border-radius: 0 15px 15px 0;
    left: 245px;
}

form .btn-desktop:hover {
    opacity: .85;
    box-shadow: 2px 4px 10px #D9D9D9;
}

form .btn-phone {
    width: 49px;
    border-radius: 15px;
    display: none;
    right: 0;
}

.filters {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.filters .container-btn-filter,
.container-btn-filter div {
    display: flex;
    column-gap: 20px;
}

.container-btn-filter button {
    height: 50px;
    display: flex;
    font-size: 17px;
    font-weight: 700;
    align-items: center;
    border-radius: 25px;
    border: solid 2px #D9D9D9;
    box-shadow: 0 2px 10px #F2F2F2;
    padding: 0 20px;
}

.container-btn-filter button:hover,
.container-btn-filter button:focus {
    background-color: #DEEBFF;
}

.container-btn-filter button span::before,
.more-info::before {
    color: #0065FC;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    margin-right: 10px;
}

.money::before {
    content: '\f53a';
}

.person::before {
    content: '\f183';
}

.heart::before {
    content: '\f004';
}

.fire::before {
    content: '\f06d';
}

.more-info{
    display: flex;
    align-items: center;
}

.more-info::before{
    content: '\f129';
    font-size: 10px;
    min-width: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    justify-content: center;
    border: solid 1px #D9D9D9;
}

.container-sect-heberg-popular{
    display: flex;
    padding: 0 50px;
    column-gap: 40px;
}

.container-sect-heberg-popular section{
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 30px;
    row-gap: 30px;
}

/* .container-cards {
    
} */

.container-cards article{
    padding: 5px 5px 15px;
}

.sect-hebergement{
    width: 66%;
    display: flex;
    flex-direction: column;
}

.sect-hebergement .container-cards-heberg{
    display: flex;
    column-gap: 30px;
}

.sect-hebergement a{
    width: 33%;
}

.sect-hebergement article{
    height: 100%;
}

.sect-hebergement article:hover{
    transform: scale(1.15);
}

.sect-hebergement article img{
    width: 100%;
    height: 124px;
    border-radius: 17px 17px 0 0;
}

.sect-hebergement article .container-desc-hotel{
    height: calc(100% - 124px);
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.sect-hebergement .container-desc-hotel h4{
    padding: 5px 0;
}

.sect-hebergement .container-desc-hotel p{
    font-size: 14px;
}

.sect-hebergement .show-more{
    font-size: 18px;
    font-weight: 700;
}

.sect-hebergement .show-more:hover{
    text-decoration: underline;
}

.sect-popular{
    width: 33%;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
}

.sect-popular .most-popular{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sect-popular .most-popular::after{
    color: #0065FC;
    font-size: 16px;
    content: '\f201';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
}

.sect-popular .container-cards-popular{
    row-gap: 30px;
    display: flex;
    flex-direction: column;   
}

.sect-popular article{
    height: 146px;
    display: flex;
}

.sect-popular article:hover{
    transform: scale(1.1);
}

.sect-popular article img{
    width: 35%;
    height: 136px;
    border-radius: 17px 0 0 17px;
}

.sect-popular article .container-desc-hotel{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 15px;
    justify-content: space-between;
}

.sect-activity{
    row-gap: 30px;
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    padding: 30px;
}

.sect-activity .container-cards-activity{
    column-gap: 30px;
    display: flex;
}

.container-cards-activity a{
    width: 25%;
}

.container-cards-activity article{
    width: 100%;
    height: 100%;
}

.container-cards-activity article img{
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.container-cards-activity h4{
    height: calc(100% - 380px);
    display: flex;
    align-items: center;
    padding: 20px 19px;
}

.container-cards-activity article:hover h4{
    text-decoration: underline;
}

footer{
    display: flex;
    margin: 0 50px;
    background-color: #F2F2F2;
}

footer div{
    width: 33%;
    row-gap: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

footer a:hover{
    opacity: .5;
}